<h1>Edit page</h1>

<%= form_with model: @interview, url: "#{@edit_dev.id}" do |form| %>

    <%= form.label :score %>
    <%= form.text_field :score, class: "form-control", placeholder: "1-5" %>
    <%= form.submit "Create interview", class: "btn btn-primary mt-3" %>
   
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Interview</th>
      <th scope="col">Score</th>
      <th scope="col">Delete?</th>
    </tr>
  </thead>
  <% @edit_dev.interviews.each_with_index do |interview,index| %>
  <tbody>
    <tr>
      <th scope="row"><%= index %></th>
      <td>
        <%= index %>
      </td>
      <td>
        <%= interview.score %>
      </td>
      <td>
        <%= link_to raw("<i class=\"btn btn-danger bi bi-trash\"></i>"), "#{@edit_dev.id}/delete/#{interview.id}"  %>
      </td>
    </tr>
  </tbody>
    <% end %>
</table>

<%= link_to "Return home", "/", class: "d-grid gap-2 d-md-block" %>